header {
  background-color:#404E82;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding:10px;
}

header p {
  margin: 0%;
}

.card {
  border: 2px solid #C8D5EC;
}
.card .card-header {
  color:#336;
  background-color: #C8D5EC;
}

.card a {
  color:gray
}

.card .btn-login {
  color:#336;
  background-color: #C8D5EC;
}

#cabecalho {
  background-color: #C4D2EB;
}


#menu {
  background-color: #EFEBDE;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color:black;
}

.toast {
  border: 1px solid #6593CF;
}

.toast-header {
  color: #003395;
  background: #e3eaf5;
}

.toast-body {
  background: #e3eaf5;
}

.carousel-indicators li{
  background-color:black;
}

.carousel {
  background-color:#FFFCF5;
  margin: 0%;
}

.carousel-item p {
  font-size:16px;
}

.componentes,.forum {
  background:#EFF3FA;
}

.componentes p,.forum p {
  color: #003395;
  font-weight: 600;
}

footer {
  background-color:#404E82;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding-top:10px;
  padding-bottom: 10px;
}

.perfil-usuario {
  background-color: #EFF3FA;
  border:solid 4px #CFDCEF;
}

.modal-header {
  background-color: #EFF3FA;
  border:solid 4px #CFDCEF;
}

.ira {
  padding-top:5px;
}
.ira p {
  color: #003395;
  font-weight: 500;
}
@media (max-width: 768px) {
  .bd-highlight i {
    font-size:22px;
    color: #404E82;
  }
  .forum {
    margin-top: 10px;
  }
  .perfil-usuario {
    padding-left: 5px;
    padding-bottom:100px;
  }
}
